<% @claims=Claim.all %>
<h1> Unpaid claims : </h1>

<table border="2">
    <tr>
      <th>User email</th>
      <th>Title</th>
      <th>Created At</th>
      <th>Amount</th>
      
    </tr>


<% @claims.each do |c| %>
<% if c.status=="Unpaid" %>
	<tr>
        <td><%= c.user.email %></td>
        <td><%= c.title %></td>
         <td><%= c.created_at %></td>
         <td><%= c.amount %></td>
      </tr>
	
<% end %>
<% end %>

</table>
