<p><%= I18n.t("devise.mailer.invitation_instructions.hello", email: @resource.email) %></p>
<p> You have been invited to join <%= root_url %>, you can accept it through the link below. </p>


<p><%= link_to I18n.t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, :invitation_token => @token) %></p>

<p><%= I18n.t("devise.mailer.invitation_instructions.ignore").html_safe %></p>
